#formulario {
    background: url(../../../assets/form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#formulario .section-title {
    color:#fff;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .75);
  }
  
#formulario h4{
    color:#fff;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

form {
    text-align: center;
    margin: 0 auto;
}

input[type=email] {
    border: 1px solid #fafafa;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 10px;
    height: 60px;
    width: 500px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(38, 38, 43);
    transition-property: background-color, border;
    transition-duration: 300ms, 300ms;
}

input[type=email]::placeholder {
    color: #444;
    transition: 300ms;
}

input[type=email]:focus {
    border: 1px solid var(--alt-color-2);
    background-color: #ece6ff;
}

input[type=email]:focus::placeholder {
    color: #777;
}

input[type=submit] {
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background: var(--alt-color-2);
    transition: 0.3s
}

input[type=submit]:hover {
    background: var(--alt-color-3);
}

input[type=email],
input[type=submit] {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

form {
    flex-direction: column
}
